In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('qs-world-university-rankings-2017-to-2022-V2.csv')
df_1 = df.copy()

In [5]:
len(df)

6482

In [6]:
df_1.head()

,university,year,rank_display,score,link,country,city,region,logo,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1,100.0,https://www.topuniversities.com/universities/m...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,4.0,"3,730",M,"3,065"
1,Stanford University,2017,2,98.7,https://www.topuniversities.com/universities/s...,United States,Stanford,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,3.0,"3,879",L,"4,725"
2,Harvard University,2017,3,98.3,https://www.topuniversities.com/universities/h...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,5.0,"5,877",L,"4,646"
3,University of Cambridge,2017,4,97.2,https://www.topuniversities.com/universities/u...,United Kingdom,Cambridge,Europe,https://www.topuniversities.com/sites/default/...,Public,Very high,4.0,"7,925",L,"5,800"
4,California Institute of Technology (Caltech),2017,5,96.9,https://www.topuniversities.com/universities/c...,United States,Pasadena,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,2.0,692,S,968

In [7]:
df_1.columns

Index(['university', 'year', 'rank_display', 'score', 'link', 'country',
       'city', 'region', 'logo', 'type', 'research_output',
       'student_faculty_ratio', 'international_students', 'size',
       'faculty_count'],
      dtype='object')

In [8]:
# df_1.drop(['link','logo'], axis=1, inplace=True)
df_1.drop(['link','logo'], axis=1, inplace=True)

In [9]:
df_1.head()

,university,year,rank_display,score,country,city,region,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1,100.0,United States,Cambridge,North America,Private,Very High,4.0,"3,730",M,"3,065"
1,Stanford University,2017,2,98.7,United States,Stanford,North America,Private,Very High,3.0,"3,879",L,"4,725"
2,Harvard University,2017,3,98.3,United States,Cambridge,North America,Private,Very High,5.0,"5,877",L,"4,646"
3,University of Cambridge,2017,4,97.2,United Kingdom,Cambridge,Europe,Public,Very high,4.0,"7,925",L,"5,800"
4,California Institute of Technology (Caltech),2017,5,96.9,United States,Pasadena,North America,Private,Very High,2.0,692,S,968

In [10]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6482 entries, 0 to 6481
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   university              6482 non-null   object
 1   year                    6482 non-null   int64
 2   rank_display            6414 non-null   object
 3   score                   2820 non-null   float64
 4   country                 6482 non-null   object
 5   city                    6304 non-null   object
 6   region                  6482 non-null   object
 7   type                    6470 non-null   object
 8   research_output         6480 non-null   object
 9   student_faculty_ratio   6407 non-null   float64
 10  international_students  6318 non-null   object
 11  size                    6480 non-null   object
 12  faculty_count           6404 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 658.5+ KB

In [11]:
df_1.describe()

              year        score  student_faculty_ratio
count  6482.000000  2820.000000            6407.000000
mean   2019.693613    46.595532              13.264554
std       1.716683    18.813110               6.604294
min    2017.000000    23.500000               1.000000
25%    2018.000000    31.800000               9.000000
50%    2020.000000    40.600000              12.000000
75%    2021.000000    58.025000              17.000000
max    2022.000000   100.000000              67.000000

In [12]:
for col_name  in df_1.columns:
    a = df_1[col_name]
    b = a.isna().sum()
    print(col_name,':', b)

university : 0
year : 0
rank_display : 68
score : 3662
country : 0
city : 178
region : 0
type : 12
research_output : 2
student_faculty_ratio : 75
international_students : 164
size : 2
faculty_count : 78

In [13]:
df_1['score'].mean(),df_1['score'].min(),df_1['score'].max()

(46.59553191489358, 23.5, 100.0)

In [14]:
df_1['score'].fillna(df_1['score'].mean(), inplace=True)

In [15]:
for col_nm in df_1.columns:
    # print(df_1[col_nm].dtype)
    if df_1[col_nm].dtype == np.int64 or df_1[col_nm].dtype == np.float64:
        df_1[col_nm].fillna(df_1[col_nm].mean(), inplace=True)

In [16]:
for col_name  in df_1.columns:
    a = df_1[col_name]
    b = a.isna().sum()
    print(col_name,':', b)

university : 0
year : 0
rank_display : 68
score : 0
country : 0
city : 178
region : 0
type : 12
research_output : 2
student_faculty_ratio : 0
international_students : 164
size : 2
faculty_count : 78

In [17]:
df_1['rank_display'].index()

TypeError: 'RangeIndex' object is not callable

In [ ]:
type(df['rank_display'][0])  ==str

True

In [18]:
df_1.loc[a,'rank_display']

KeyError: "None of [Index(['3,065', '4,725', '4,646', '5,800',   '968', '6,708', '7,195', '2,719',\n       '8,000', '2,703',\n       ...\n       '1,306', '1,005',   '787', '1,806', '1,535', '1,174', '3,504', '1,113',\n       '1,688', '5,871'],\n      dtype='object', length=6482)] are in the [index]"

In [ ]:
a = np.array([1,2,3])
a.unique()

AttributeError: 'numpy.ndarray' object has no attribute 'unique'

In [ ]:
str_ranges = np.array([])

IndexError: index -1 is out of bounds for axis 0 with size 0

In [ ]:
str_ranges = []
for i in df['rank_display']:
    if type(i) == str:
        if len(i) > 6:
            str_ranges.append(i)
str_ranges = pd.DataFrame(str_ranges)

In [ ]:
str_ranges = str_ranges[0].unique()
str_ranges

array(['401-410', '411-420', '421-430', '431-440', '441-450', '451-460',
       '461-470', '471-480', '481-490', '491-500', '501-550', '551-600',
       '601-650', '651-700', '701-750', '751-800', '801-1000', '501-510',
       '511-520', '521-530', '531-540', '541-550', '551-560', '561-570',
       '571-580', '581-590', '591-600', '1001-1200'], dtype=object)

In [ ]:
df_1

In [ ]:
df_1.index[df['rank_display'] == '401-410'].tolist()

In [ ]:
for s_rng in str_ranges:
    for ind in df_1.index[df_1['rank_display'] == s_rng]:
        val = df_1.loc[ind,'rank_display']
        if '-' in val:
            f_v, s_v = val.split('-')
            f_v, s_v = int(f_v), int(s_v)
            rst = round(((f_v + s_v) / 2),0)
            df_1.loc[ind,'rank_display'] = rst

In [ ]:
df_1['rank_display'].astype(np.float64)

0          1.0
1          2.0
2          3.0
3          4.0
4          5.0
         ...
6477    1201.0
6478    1201.0
6479    1201.0
6480    1201.0
6481    1201.0
Name: rank_display, Length: 6482, dtype: float64

In [19]:
for ind in df_1.index[df_1['rank_display'] == '1001-1200']:
    val = df_1.loc[ind,'rank_display']
    if '-' in val:
        f_v, s_v = val.split('-')
        f_v, s_v = int(f_v), int(s_v)
        rst = round(((f_v + s_v) / 2),0)
        df_1.loc[ind,'rank_display'] = rst

In [20]:
ind = 0
for i in df['rank_display']:
    if type(i) == str:
        if '-' in i:
            f_v, s_v = i.split('-')
            f_v, s_v = int(f_v), int(s_v)
            rst = round(((f_v + s_v) / 2),0)
            df.loc[ind,'rank_display']
            ind += 1

In [21]:
a = df_1.index[df['rank_display'] == '401-410'].tolist()
a

[400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 1333,
 1334,
 1335,
 1336,
 1337,
 1338,
 1339,
 1340,
 1341,
 1342,
 1343]

In [22]:
df_1['rank_display'] = df_1['rank_display'].astype(np.float64)

ValueError: could not convert string to float: '401-410'

In [ ]:
df_1['rank_display'].dtype

dtype('O')

In [ ]:
for s_rng in str_ranges:
    for ind in df_1.index[df_1['rank_display'] == s_rng]:
        val = df_1.loc[ind,'rank_display']
        if '-' in val:
            f_v, s_v = val.split('-')
            f_v, s_v = int(f_v), int(s_v)
            rst = round(((f_v + s_v) / 2),0)
            df_1.loc[ind,'rank_display'] = rst

In [ ]:
'his name is his'.replace('h','z')

'zis name is zis'

In [ ]:

for val, ind in zip(df_1['international_students'], df_1['international_students'].index):
    if type(val) == str:
        new_val = val.replace(',','')
        new_val = float(new_val)
        df_1.loc[ind,'international_students'] = new_val

In [ ]:
df_1['international_students'].dtype

dtype('O')

In [ ]:
df_1['international_students'] = df_1['international_students'].astype(np.float64)

In [ ]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6482 entries, 0 to 6481
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   university              6482 non-null   object
 1   year                    6482 non-null   int64
 2   rank_display            6414 non-null   float64
 3   score                   6482 non-null   float64
 4   country                 6482 non-null   object
 5   city                    6304 non-null   object
 6   region                  6482 non-null   object
 7   type                    6470 non-null   object
 8   research_output         6480 non-null   object
 9   student_faculty_ratio   6482 non-null   float64
 10  international_students  6318 non-null   float64
 11  size                    6480 non-null   object
 12  faculty_count           6404 non-null   object
dtypes: float64(4), int64(1), object(8)
memory usage: 658.5+ KB

In [ ]:
df_1['rank_display']

0          1
1          2
2          3
3          4
4          5
        ...
6477    1201
6478    1201
6479    1201
6480    1201
6481    1201
Name: rank_display, Length: 6482, dtype: object

In [ ]:
df_1['international_students'].replace()

0       3,730
1       3,879
2       5,877
3       7,925
4         692
        ...
6477       57
6478      585
6479    2,826
6480    2,394
6481    2,300
Name: international_students, Length: 6482, dtype: object

In [ ]:
df_1.columns

Index(['university', 'year', 'rank_display', 'score', 'country', 'city',
       'region', 'type', 'research_output', 'student_faculty_ratio',
       'international_students', 'size', 'faculty_count'],
      dtype='object')

In [ ]:
ind_c = df_1[df_1['city'].isna()].index

In [ ]:
df_1['country'].unique()

array(['United States', 'United Kingdom', 'Switzerland', 'Singapore',
       'Australia', 'China (Mainland)', 'Hong Kong SAR', 'Canada',
       'France', 'Japan', 'South Korea', 'Netherlands', 'Germany',
       'Taiwan', 'Denmark', 'Sweden', 'Belgium', 'New Zealand',
       'Argentina', 'Finland', 'Ireland', 'Russia', 'Norway', 'Brazil',
       'Mexico', 'Malaysia', 'Chile', 'Israel', 'India', 'Austria',
       'Spain', 'Italy', 'Saudi Arabia', 'South Africa', 'Lebanon',
       'Kazakhstan', 'Thailand', 'Colombia', 'Czech Republic', 'Portugal',
       'Indonesia', 'Estonia', 'Belarus', 'Egypt', 'Poland',
       'Philippines', 'Ukraine', 'Qatar', 'Greece',
       'United Arab Emirates', 'Turkey', 'Iran, Islamic Republic of',
       'Oman', 'Bahrain', 'Costa Rica', 'Peru', 'Lithuania', 'Pakistan',
       'Macau SAR', 'Hungary', 'Jordan', 'Venezuela', 'Uruguay', 'Iraq',
       'Slovenia', 'Slovakia', 'Bulgaria', 'Latvia', 'Croatia', 'Romania',
       'Azerbaijan', 'Kuwait', 'Uganda', 'Ecuador', 'Cuba', 'Puerto Rico',
       'Serbia', 'Sri Lanka', 'Bangladesh', 'Ghana', 'Kenya', 'Brunei',
       'Palestinian Territory, Occupied', 'Morocco',
       'Bosnia and Herzegovina', 'Vietnam', 'Panama', 'Paraguay',
       'Cyprus', 'Georgia', 'Malta', 'Syrian Arab Republic', 'Bolivia',
       'Tunisia', 'Armenia', 'Sudan', 'Honduras'], dtype=object)

In [ ]:
df_1[df_1['city'].isna()].index

Int64Index([ 116,  194,  241,  265,  344,  358,  399,  412,  438,  544,
            ...
            6282, 6324, 6350, 6358, 6383, 6405, 6408, 6422, 6427, 6431],
           dtype='int64', length=178)

In [ ]:
a = df_1['city'][df_1['country'] == 'Denmark']

a[a.isna()]

116     NaN
1051    NaN
2050    NaN
3072    NaN
4143    NaN
Name: city, dtype: object

In [ ]:
a = df_1['city'][df_1['country'] == 'United States']
a_uniq = a.unique()
print(len(a_uniq))

145

In [ ]:
np.random.choice(a_uniq)

'College Park'

C:\Users\Karar\AppData\Local\Temp\ipykernel_13956\1255063592.py:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  t == np.nan

False

In [ ]:
t = np.array([np.NaN,'Tegucigalpa'], dtype='object')
t

array([nan, 'Tegucigalpa'], dtype=object)

In [ ]:
np.argwhere(np.isnan(t))

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
list(map(tuple, np.where(np.isnan(t))))

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
t = t[~t.isnan(t)]
t

AttributeError: 'numpy.ndarray' object has no attribute 'isnan'

In [ ]:
for country in df_1['country'].unique():
    citiesInCount = df_1['city'][df_1['country'] == country]
    uniqe_cities = citiesInCount.unique()
    uniqe_cities_df = pd.DataFrame(uniqe_cities)
    uniqe_cities_df.dropna(inplace=True)
    uniqe_cities_df = (uniqe_cities_df.values).reshape(1,-1)
    # print(uniqe_cities_df[0])
    nan_cities_indx = citiesInCount[citiesInCount.isna()].index
    for i in nan_cities_indx:
        df_1.loc[i,'city'] = np.random.choice(uniqe_cities_df[0])

In [ ]:
for country in df_1['country'].unique():
    citiesInCount = df_1['city'][df_1['country'] == country]
    uniqe_cities = citiesInCount.unique()
    uniqe_cities_df = pd.DataFrame(uniqe_cities)
    uniqe_cities_df.dropna(inplace=True)
    uniqe_cities_df = uniqe_cities_df.values
    nan_cities_indx = citiesInCount[citiesInCount.isna()].index
    for i in nan_cities_indx:
        df_1.loc[i,'city'] = np.random.choice(uniqe_cities)

In [ ]:
for col_name  in df_1.columns:
    a = df_1[col_name]
    b = a.isna().sum()
    print(col_name,':', b)

university : 0
year : 0
rank_display : 68
score : 0
country : 0
city : 11
region : 0
type : 12
research_output : 2
student_faculty_ratio : 0
international_students : 164
size : 2
faculty_count : 78

In [24]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6482 entries, 0 to 6481
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   university              6482 non-null   object
 1   year                    6482 non-null   int64
 2   rank_display            6414 non-null   object
 3   score                   6482 non-null   float64
 4   country                 6482 non-null   object
 5   city                    6304 non-null   object
 6   region                  6482 non-null   object
 7   type                    6470 non-null   object
 8   research_output         6480 non-null   object
 9   student_faculty_ratio   6482 non-null   float64
 10  international_students  6318 non-null   object
 11  size                    6480 non-null   object
 12  faculty_count           6404 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 658.5+ KB