# If else

In [22]:
shop = ['burger','water']

In [23]:
('sprite' in shop)

False

In [20]:
if ('sprite' in shop) or ('burger' in shop):
    print('buy sprite and burger')

buy sprite and burger

In [ ]:
if True:
    #]
    #..
    pass





if False:
    print('hi')
    pass



a = 33
b = 200
if b > a:
    print("b is greater than a")

In [4]:
a = 33
b = 200
b < a

False

In [ ]:
gas_station = ['d','p','w','c','auto_w']

milage = 1000
open_close = True

if open_close:
    if milage > 1000:
        if 'w' in gas_station:
            print('change oil')
        else:
            print('Add reminder on phone {chage oil}')
    else:
        if 'auto_w' in gas_station:
            print('Wash my car')
        else:
            print('See for another washing center on google map')
else:
    print('See for another washing center on google map')

In [3]:
if 'sprite' in shop:

    print('Buy coke')
    if 'credit' in shop:
        print('pay by card')
    else:
        print('Buy by cash')




elif 'pepsi' in shop:

    print('buy pepsi')
    if 'credit' in shop:
        print('pay by card')
    else:
        print('Buy by cash')

elif 'burger' in shop:
    print('buy burger')


elif 'water' in shop:
    print('buy water')


else:
    print('return back')
    if 'credit' in shop:
        print('pay by card')
    else:
        print('Buy by cash')

buy burger

In [ ]:
a = 2
b = 330


print("A") if a > b else print("B")

In [7]:
print('Its True') if False else print('Second true') if True else print('Third ture')

Second true

In [ ]:
print('Its True') if False else print('Second true')

In [12]:
a = 500
b = 330
print("A") if a > b else print("=") if a == b else print("B")

A

In [16]:
print('buy sprite') if 'sprite' in shop else print('buy coke') if 'coke' in shop else print('buy burger') if 'burger' in shop else print('return')

hi

In [ ]:
a = 10
b = 20

if a > b: print("a is greater than b")

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

In [26]:
8 % 2

0

In [27]:
a = 55

if a > 0 :

    if a % 2 == 0:
        print('Even number')
    else:
        print('Odd number')
        
elif a == 0:
    print("Can't do cal on zero")

else:
    print('Negative number')

Odd number

In [28]:
print('''
1) Calculate 2D equations
2) Calculate solid equations''')

user_inpt = input('Chose from above [1-2]:')

1) Calculate 2D equations
2) Calculate solid equations

In [33]:
print('Only enter numbers')
print('Otherwise app will crash')
print('''
1) Calculate 2D equations
2) Calculate solid equations''')

user_inpt = input('Chose from above [1-2]:')


if user_inpt == '1':
    print('Only enter numbers')
    print('Otherwise app will crash')
    print('''
1) Calculate area of triangle
2) Calculate radius of circle''')
    user_inpt2 = input('Chose from above [1-2]')
    if user_inpt2 == '1':
        print('area is ---')
    elif user_inpt2 == '2':
        print('radius is ---')

elif user_inpt == '2':
    pass

else:
    print('Wrong option')

1) Calculate 2D equations
2) Calculate solid equations

1) Calculate area of triangle
2) Calculate radius of circle
radius is ---

In [31]:
user_inpt, type(user_inpt)

('1', str)

# While loops

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
#
#

In [9]:
i = 1
while True:
    print(i)
    i += 1
    if i>6:
        break

1
2
3
4
5
6

In [8]:
6 < 6

False

In [35]:
a = 5
while True:
    print(a)
    a -= 1
    if a<0:
        break

5
4
3
2
1
0

In [1]:
while True:
    print('''
    1) Calculate 2D equations
    2) Calculate solid equations
    3) exit''')

    user_inpt = input('Chose from above [1-2]:')


    if user_inpt == '1':
        print('''
    1) Calculate area of triangle
    2) Calculate radius of circle''')
        user_inpt2 = input('Chose from above [1-2]')
        if user_inpt2 == '1':
            print('area is ---')
        elif user_inpt2 == '2':
            print('radius is ---')

    elif user_inpt == '2':
        pass

    elif user_inpt == '3':
        break
    else:
        print('Wrong option')
else:
    print('Program ended')

    1) Calculate 2D equations
    2) Calculate solid equations
    3) exit

    1) Calculate area of triangle
    2) Calculate radius of circle
radius is ---

    1) Calculate 2D equations
    2) Calculate solid equations
    3) exit

In [5]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(gg)

NameError: name 'gg' is not defined

# For loop

In [11]:
fruits = ["apple", "banana", "cherry"]
for _ in fruits:
    print(_)
    print(_+'END')

apple
appleEND
banana
bananaEND
cherry
cherryEND

In [6]:
a = 'string'
b = [1,2,3,3,4]
c = {22,33,44,22,11,22}
d = {1:'one',2:'two',3:'three'}

In [14]:
for dic in d.items():
    print(dic)

(1, 'one')
(2, 'two')
(3, 'three')

In [9]:
for i in a:
    print(i)

s
t
r
i
n
g

In [8]:
for number in b:
    number +=1
    print(number)

2
3
4
4
5

In [ ]:
b = [1,2,3,3,4]

# Range()

In [21]:
for x in range(2,20,2):
    print(x)

2
4
6
8
10
12
14
16
18

In [12]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [22]:
adj = ["US", "UK", "Germany"]
fruits = ["City", "Village"]

In [24]:
for country in adj:
    for data in fruits:
        print(country,':',data)

US : City
US : Village
UK : City
UK : Village
Germany : City
Germany : Village

In [28]:
def warningMsg():
    print('Only enter Num')
    print('Otherwise app will crash')

In [29]:
warningMsg()

Only enter Num
Otherwise app will crash

In [25]:
print('Only enter numbers')
print('Otherwise app will crash')

Only enter numbers

In [30]:
def add2(yyy):
    return yyy + 2

In [14]:
def avg(n):
    return n/4

In [15]:
avg(10)

2.5

In [31]:
tt = 10
add2(tt)

12

In [32]:
add2(100)

102

In [33]:
def Welcom(name):
    print('Welcom',name,'!')
    print('Chose
    1
    2
    3')

In [28]:
def my_function(fname):
    print(fname + "," + mnane + ",")
    print(lname)

my_function("shah",'Karar','a','fun')
my_function(fname='Karar',lname='a',mnane='fun')

shah,Karar,
('a', 'fun')

In [23]:
def addNum (oper, *numers):
    rslt = 0
    if oper == '+':
        for n in numers:
            rslt += n
    print(rslt)

In [ ]:
def my_function(title,**data):

In [35]:
def my_function(**kid):

    print(kid)

    if len(kid) == 1:
        print("His first name is " + kid["fname"])
    
    elif len(kid) == 2:
                print("His  name is " +kid['fname']+ kid["lname"])

    elif len(kid)==3:
        print("His  name is " +kid['fname']+kid['mnmae']+ kid["lname"])
    else:
        print(kid)


my_function(fname= 'Muhammad', xx='Ali')
# my_function(fname = "Tobias", lname = "Refsnes")

{'fname': 'Muhammad'}
His first name is Muhammad

In [37]:
my_function(fname= 'Muhammad', lname='Ali')

{'fname': 'Muhammad', 'lname': 'Ali'}
His  name is MuhammadAli

In [ ]:
numers = (4,5,6,7,8)

In [26]:
addNum('+',4)

4

In [34]:
Welcom('Karar')

Welcom Karar !

In [35]:
print('hi')

hi

In [ ]:
type()

In [14]:
def add1(firstnum=0, secondNum=0):
    x =  firstnum + secondNum
    print('print',x)
    return x
    # print('Second number',secondNum)

In [18]:
x

NameError: name 'x' is not defined

In [20]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [16]:
tt = add1(5,6)

print 11

In [19]:
tt

11

In [12]:
a

11

In [7]:
rslt = add1(55,444)

In [8]:
rslt

499

In [55]:
first = 33
second = 55

In [67]:
add1(second)

First number 55
Second number 0

In [78]:
def my_function(fname='Unkown', lname='Unknown'):
    # print('First name:',fname)
    # print('Seond anme:',lname)
    return fname+' '+lname

In [81]:
name = my_function('Muhammad','Sulaman')
print(name+'.')

Muhammad Sulaman.

In [61]:
my_function(lname='Sulaman', fname='Muhammad')

First name: Muhammad
Seond anme: Sulaman

In [45]:
def NameOfKids(*names, city):
    print(names)
    print(city)

In [46]:
NameOfKids('1','2','3','4',city='Berlin')

('1', '2', '3', '4')
Berlin

# Passing a List as an Argument

In [71]:
def loopthroth(lst):
    for i in lst:
        print(i)

In [73]:
a = [1,2,3,4,5]
b = [5,6,7,8]

In [74]:
loopthroth(a)

1
2
3
4
5

In [75]:
loopthroth(b)

5
6
7
8

# Python Lambda

In [85]:
add1 = lambda i: i + 10

In [86]:
add1(55)

65

In [87]:
x = lambda a : a + 10



print(  x(a=5)   )

15

# Local Scope

In [1]:
def myfunc():
    x = 300
    print(x)
    return x

x= myfunc()

300

In [2]:
print(x)

NameError: name 'x' is not defined

In [1]:
def myfunc():
    global num
    num = 500
    print(num)

myfunc()

500

In [3]:
num

NameError: name 'num' is not defined

In [38]:
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
def my_function(x):
    return 5 * x